
<div ng-controller="HomeCtrl">
	<!-- INTRODUCTION -->
	<div class="ui vertical stripe segment center aligned">
		<div class="ui container">
			<div class="ui three column divided grid">
			  <div class="stretched row">
			    <div class="column">
						<h3>FOR TALENTS</h3>
			      <p>
							Gather experience, improve your network,
						  </br> with real projects.
			      </p>
			    </div>
			    <div class="column aligned ">
						<h3>FOR PROJECTS</h3>
						<p> Your team is leaking some speciality?
						</br> Find here people that are trilled to collaborate.
			      </p>
			    </div>
			    <div class="column">
						<h3>FOR COMPANIES</h3>
						<p>
							Hard to find that real world talents?
						</br> Here you’ll find the prople that real collaborate.
			      </p>
			    </div>
			  </div>
			</div>
		</div>
	</div>
	<!-- SECTION: FEATURED PROJECTS -->
	<div class="ui vertical stripe segment">
		<div class="ui container">
			<!-- SECTION HEADER  -->
			<div class="ui two column grid">
        <div class="left floated column">
          <div class="ui left aligned basic segment">
            <h1>Featured Projects</h1>
          </div>
        </div>
        <div class="right floated column">
          <div class="ui right aligned basic segment">
            <a class="ui teal button" href="/#/project">
							All Projects
							<i class="right chevron icon"></i>
						</a>
          </div>
        </div>
      </div>
			<!--  CARDS -->
			<div class="ui four column doubling grid special cards">
				<a href="/#/project/{{project._id}}" class="column card" ng-repeat="(key, project) in projects">
					<div class="blurring dimmable image">
						<div class="ui dimmer">
							<div class="content">
								<div class="center">
									<div class="ui inverted button">See issues</div>
								</div>
							</div>
						</div>
						<img src="/images/project/matthew.png">
					</div>
						<div class="content">
						<div class="header">
							{{project.name}} from {{project.org}}
						</div>
						<div class="meta">
							Shared by {{project._users[0].name}}
						</div>
						<div class="description">
							Elliot requested permission to view your contact details
						</div>
					</div>
					<div class="extra content">
					<span class="right floated">
						Joined in 2011
					</span>
					<span>
						<i class="user icon"></i>
						35 Friends
					</span>
				</div>
				</a>
			</div>
		</div>
	</div>
	<!-- SECTION: FEATURED ISSUES -->
	<div class="ui vertical stripe segment">
		<div class="ui container">
			<!-- SECTION HEADER  -->
			<div class="ui two column grid">
				<div class="left floated column">
					<div class="ui left aligned basic segment">
						<h1>Featured Issues</h1>
					</div>
				</div>
				<div class="right floated column">
					<div class="ui right aligned basic segment">
						<a class="ui teal button" href="/#/issue">
							All Issues
							<i class="right chevron icon"></i>
						</a>
					</div>
				</div>
			</div>
			<!--  CARDS -->
			<div class="ui four column doubling grid special cards">
				<div id="{{key}}" class="item card" ng-repeat="(key, issue) in issues | limitTo:8">
					<a href="/#/issue/{{issue._project.org}}/{{issue._project.name}}/{{issue.number}}" class="content">
						<img class="right floated mini ui image" src="{{issue.user.avatar_url}}">
						<div class="header blue">
							 {{issue.title | limitTo: 40}}
						</div>
						<div class="meta">
							Project: {{issue._project.name}} | ORG: {{issue._project.org}}
						</div>
						<div class="description">
							#{{issue.number}} </br>
							{{issue.body | limitTo:144}}
						</div>
					</a>
					<div ng-click="tackleIssue(key,issue)" class="ui bottom teal attached button">
						Tackle it!
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
$('.special.cards .image').dimmer({
  on: 'hover'
});
</script>
