<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- <link rel='stylesheet' href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css//bootstrap-responsive.css" rel="stylesheet"> -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    
    <script type="text/javascript" src="/javascripts/lib/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/angular-resource.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/angular-route.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/angular-sanitize.js"></script>
    <script src="/javascripts/lib/ng-file-upload-shim.min.js"></script>
    <script src="/javascripts/lib/ng-file-upload.min.js"></script> 
    <script type="text/javascript" src="/javascripts/app.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/jquery.slidereveal.min.js"></script>

  </head>
  <body>
    <nav class="top-menu">
      <h3> <img src="{{connectedUser.photo}}" width="32px"> Olá, <strong>{{connectedUser.name}} </strong> </h3>
      <ul>
        <a href="#/">Home</a> | 
        <a href="#/new">New Document</a> | 
        <a href="#/documents">All Documents</a> |
        <a href="#/" ng-click="logout()">Logout</a>
      </ul>
    </nav>
    <div class="container-fluid">
      <ng-view></ng-view>
    </div>
    
  </body>
</html>
