.ui.vertical.segment {
  padding: 8em 0;
}
.ui.cards>.card>.content>.header{
  word-wrap: break-word;
}
.masthead{
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  background-color: red;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://images.unsplash.com/photo-1429051883746-afd9d56fbdaf?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=533d700028277f3d53e0e6d4ac3bcc1c');
  background-size: cover !important;

}
.logo{
  width: 120px!important;
  height: 44px;
  margin-right: 8px !important;
}
.intro{
  padding: 8em 0;
}
.description{
  word-wrap: break-word !important;
}
.xxx{
  background-color: teal;
}
.interna{
  margin-top: 48px;
}
.base{
  background-color:rgba(0, 0, 0, 0.85) !important;
  padding: 8px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.ui.secondary.inverted.menu{
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
.hidden{
  display: none !important;
}
.ui.menu .item.top-search>.input input{
  border-bottom: 1px solid #767676 !important;
  padding: 8px !Important;
  border-radius: 0;
}
.inactive{
  /* IE 8 */
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

 /* IE 5-7 */
 filter: alpha(opacity=30);

 /* Netscape */
 -moz-opacity: 0.3;

 /* Safari 1.x */
 -khtml-opacity: 0.3;

 /* Good browsers */
 opacity: 0.3;
}

.ui.inverted.button {
    box-shadow: 0 0 0 1px #fff inset!important;
  }
