<!doctype html>
<html ng-app="openSolver">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
		<script src="bower_components/angular/angular.min.js"></script>
		<script src="bower_components/angular-route/angular-route.min.js"></script>

		<script src="semantic/dist/semantic.min.js"></script>

		<script src="scripts/app.js"></script>
		<script src="scripts/Controllers.js"></script>
		<script src="scripts/Factory.js"></script>
		<script src="scripts/Config.js"></script>
		<script src="scripts/Services.js"></script>
				<!--     <link rel="stylesheet" href="todo.css"> -->
	</head>
	<body ng-controller="MainCtrl">
	<div class="pusher">
		<div class="ui vertical masthead center aligned segment">
	    <div class="ui container">
				<div class="ui large secondary inverted menu">
					<!-- LEFT MENU -->
					<a href="/#/">
						<img class="logo" src="/images/tackleet_logo.png">
					</a>
					<div class="item top-search hidden">
						<div class="ui inverted transparent icon input">
					    <input type="text" placeholder="Search..." ng-model="query">
							 <i class="circular search link icon" ng-click="search(query)"></i>
					  </div>
			    </div>
					<!-- RIGHT MENU -->
					<div class="right menu">
						<a class="item" href="/#/project">All Projects</a>
						<a class="item" href="/#/issue">All Issues</a>
						<div ng-hide="checkLogin" class="item">
							<button class="ui inverted button" ng-click="gitSignup()">Signup</button>
							&nbsp;&nbsp;
							<a class="ui inverted button" href="/auth/github">
								<i class="github icon"></i>
								Signin
							</a>
						</div>
					  <div class="ui poiting dropdown link item" tabindex="0" ng-show="checkLogin">
							<div>
								<a class="ui image teal label">
									<img src="{{connectedUser.avatar}}">
									Hi, {{connectedUser.name}}
								</a>
							</div>
					    <i class="dropdown icon"></i>
					    <div class="menu transition hidden" tabindex="-1">
								<a href="/#/my/projects" class="item">
									<div class="ui red right small empty circular label"></div>
									 My Projects &nbsp;
									 ({{connectedUser._projects.length}}) &nbsp;

								</a>
								<a href="/#/my/issues" class="item">
									<div class="ui green right small empty circular label"></div>
									 My Tackles &nbsp;
									 ({{connectedUser._issues.length}}) &nbsp;
								</a>
								<div class="divider"></div>
								<a class="item" href="/#/user/perfil">
									<i class="user icon"></i>
									Perfil
								</a>
								<div class="divider"></div>
								<a class="item" href="/auth/logout">
									<i class="power icon"></i>
									Logout

								</a>
					    </div>
					  </div>
					</div>
				</div>
	    </div>

    <div class="ui text container intro" ng-hide="v_intro">
      <h1 class="ui inverted header">
        Imagine-a-Company
      </h1>
      <h2 class="ui inverted header">Start fiding your first challenge.</h2>
			<div class="item">
				<div class="ui action left icon input large">
					<i class="search icon"></i>
					<input type="text" placeholder="Search" ng-model="query">
					<button class="ui button teal" ng-click="search(query)">
						Find now!
					</button>
				</div>
			</div>
    </div>
  </div>

	<!-- ANGULAR VIEWS CONTAINER -->
	<div ng-view></div>

	<!-- FOOTER -->
	<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">About</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Sitemap</a>
            <a href="#" class="item">Contact Us</a>
            <a href="#" class="item">Religious Ceremonies</a>
            <a href="#" class="item">Gazebo Plans</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Services</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Banana Pre-Order</a>
            <a href="#" class="item">DNA FAQ</a>
            <a href="#" class="item">How To Access</a>
            <a href="#" class="item">Favorite X-Men</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Footer Header</h4>
          <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- SIGNIN MODAL -->
<div class="ui basic modal signin">
  <i class="close icon"></i>
	<div class="ui vertical center aligned segment">
		<h1 class="ui inverted header">
			Use your Github account to login!
		</h1>
		<div class="item">
			<a href="/auth/github" class="ui inverted massive button">
				<i class="large github middle aligned icon"></i>
				GithubLogin
			</a>
	  </div>
	</div>
</div>
<!-- SIGNUP MODAL -->
<div class="ui basic modal signup">
  <i class="close icon"></i>
	<div class="ui vertical center aligned segment">
		<h1 class="ui inverted header">
			Create your Github account to start.
		</h1>
		<h2 class="ui inverted header">
			It's quick and simple. I'll take just 3 steps:
		</h2>
		<p>1. Click on Signup button</p>
		<p>2. Fill Github form</p>
		<p>	3. Validate you account</p>
		</ul>
		<h3 class="ui inverted teal header">
			That's it. Now you will be redirected
		</br> and able to tackle your challenges.
		</h3>
		<div class="item">
			<a href="/auth/github" class="ui inverted teal massive button">
				<i class="large github middle aligned icon"></i>
				Signup now!
			</a>
	  </div>
	</div>
</div>
<script>
		$('.ui.dropdown').dropdown();
		$(window).scroll(function()
		{
		    var scroll = $(window).scrollTop();
				var menu = $(".inverted.menu");
		    if (scroll >= 100)
				{
		    	menu.addClass("fixed");
					menu.addClass("base");
					$(".top-search").removeClass("hidden");
		    }else{
					menu.removeClass("fixed");
					menu.removeClass("base");
					$(".top-search").addClass("hidden");
				}
		});
</script>
	</body>
</html>
