<div class="ui container interna">
  <div class="ui container">
    <!-- BREADCRUMB  -->
    <div class="ui breadcrumb">
      <a href="/#/" class="section">Home</a>
      <i class="right angle icon divider"></i>
      <a href="/#/project" class="section">Projects</a>
      <i class="right angle icon divider"></i>
      <div class="active section">{{project.name}}...</div>
    </div>
    <div class="ui divider"></div>
    <div class="ui">
      <!-- <h1>{{project.name}} from {{project.org}}</h1> -->
      <!-- <h4>Shared by {{project._users[0].name}}</h4> -->
    </div>
    <!-- <div class="ui divider"></div> -->
    <!-- SECTION HEADER  -->
		<div class="ui grid">
			<div class="left floated six wide column">
				<div class="ui left aligned basic segment">
					<h1>{{project.name}} Issues</h1>
          Shared by {{project._users[0].name}}
				</div>
			</div>
			<div class="right floated six wide column">
				<div class="ui right aligned basic segment">
					<div class="ui search">
						<div class="ui icon input">
					    <input ng-model="issueSearch" class="prompt" type="text" placeholder="Search for...">
					    <i class="search icon"></i>
					  </div>
					</div>
				</div>
			</div>
		</div>
    <!--  CARDS -->
    <div class="four wide column stackable ui cards">
      <div class="card" ng-repeat="(key, issue) in issues">
        <a href="/#/issue/{{project.org}}/{{project.name}}/{{issue.number}}" class="content">
          <img class="right floated mini ui image" src="{{issue.user.avatar_url}}">
          <div class="header blue">
             {{issue.title | limitTo: 40}}
          </div>
          <div class="meta">
            <!-- Project: {{issue._project.name}} | ORG: {{issue._project.org}} -->
          </div>
          <div class="description">
            #{{issue.number}} </br>
            {{issue.body | limitTo:144}}
          </div>
        </a>
        <div ng-click="tackleIssue(key,issue)" class="ui bottom teal attached button">
          <i class="add icon"></i>
          Tackle it!
        </div>
      </div>
    </div>
    </br></br></br>
  </div>
</div>



<!--
<h2> {{project.name}} <button ng-click="deleteProject(project.id)"> REMOVE </button></h4> </h2>
<h4>from <strong>{{project.org}}</strong>
</br>
</br>
<hr>
<div ng-repeat="(key, issue) in issues" >
 <b>#{{issue.number}}</b>
 | {{issue.title}}
 | {{issue.state}}
 | Last update: {{issue.updated_at}}
 | Opened by {{issue.user.login}}
 <img src="{{issue.user.avatar_url}}" width="30px">
 <a href="https://github.com/{{org}}/{{project}}/issues/{{issue.number}}&state=issue" target="_blank"> Repository</a>
 <button ng-click="tackleIssue(issue)"> Tackle this issue</button>
 <br><br>
</div> -->
