	<!-- ALL PROJECTS -->
<div class="ui vertical stripe segment">
	<div class="ui container">
		<!-- BREADCRUMB  -->
    <div class="ui breadcrumb">
      <a href="/#/" class="section">Home</a>
      <i class="right angle icon divider"></i>
      <a href="/#/project" class="active section">Projects</a>
    </div>
		<div class="ui divider"></div>
		<!-- SECTION HEADER  -->
		<div class="ui grid">
			<div class="left floated six wide column">
				<div class="ui left aligned basic segment">
					<h1>Featured Projects</h1>
				</div>
			</div>
			<div class="right floated six wide column">
				<div class="ui right aligned basic segment">
					<div class="ui search">
						<div class="ui icon input">
					    <input ng-model="projectSearch" class="prompt" type="text" placeholder="Filter for...">
					    <i class="search icon"></i>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<!--  CARDS -->
		<div class="four wide column ui special stackable cards">
			<a href="/#/project/{{project._id}}" class="card" class="card" ng-repeat="(key, project) in projects | filter:projectSearch ">
				<div class="image">
				</div>
				<div class="blurring dimmable image">
					<div class="ui dimmer">
						<div class="content">
							<div class="center">
								<div class="ui inverted button">See Projects</div>
							</div>
						</div>
					</div>
					<img src="/images/project/matthew.png">
				</div>
					<div class="content">
					<div class="header">
						{{project.name}} from {{project.org}}
					</div>
					<div class="meta">
						Shared by {{project._users[0].name}}
					</div>
					<div class="description">
						Elliot requested permission to view your contact details
					</div>
				</div>
				<div class="extra content">
				<span class="right floated">
					Joined in 2011
				</span>
				<span>
					<i class="user icon"></i>
					35 Friends
				</span>
			</div>
			</a>
		</div>
	</div>
</div>
