<div>
	<label>Name:</label>
	<input type="text" ng-model="projectSearch" placeholder="Search for project ...">
	<button ng-click="search()">Search</button>
</div>
<div>
	<h2 ng-show="projects">({{projects.total_count}}) projects found for {{projectSearch}}</h2>
	<input ng-show="projects" type="text" ng-model="searchFilter" placeholder="Filter project ...">
	<div ng-repeat="(key, project) in projects.items | filter:searchFilter">
		<hr>
		<h2>
			Project Name: {{project.name}}
			<button ng-click="subscribe(project)">Subscribe this one</button>
		</h2>
		<h4>from {{project.owner.login}}</h4>
		<a href="https://github.com/{{project.ownser.login}}/{{project.name}}" target="_blank">[ PROJECT REPO ]</a>
	</div>
</div>
