<div class="ui container interna">
  <div class="ui container">
    <!-- BREADCRUMB  -->
    <div class="ui breadcrumb">
      <a href="/#/" class="section">Home</a>
      <i class="right angle icon divider"></i>
      <a href="/#/issue" class="section">Issues</a>
      <i class="right angle icon divider"></i>
      <div class="active section">{{issue.title | limitTo:20}}...</div>
    </div>
    <div class="ui divider"></div>
    <div class="ui stacked segment">
      <button class="ui right floated teal button" ng-click="tackleIssue(issue)">Tackle it!</button>
      <h2 class="ui left floated"># {{issue.number}} | {{issue.title}}</h2>
      <p>
        Created by
        <a class="ui image label">
          <img src="{{issue.user.avatar_url}}">
          {{issue.user.login}}
        </a>
      </p>
      <h2>Body</h2>
      <pre>{{issue.body}}</pre>
    </div>
    </br>
    </div>
  </div>
</div>
