<h1>All Issues </h1>

<h2>({{issues.length}}) avaiable</h2>
<div>
	<div ng-repeat="(key, issue) in issues">
	<hr>
	<h1>#{{issue.number}}</h1>
		<h3><a href="/#/issue/{{issue.uid}}">{{issue.title}} | {{issue.state}} | </a></h3>
		<p><img src="{{issue.user.avatar_url}}" width="30px"> Author: {{issue.user.login}}</p>
		<p>Project: {{issue.project.name}} | Org: {{issue.project.org}}</p>
		<p>{{issue.body}}</p>
		<!-- <a href="/#/issue/{{issue.id}}">{{issue.number}}</a> -->
	</div>
</div>
