<!-- FEATTURED ISSUES -->
<div class="ui vertical stripe segment">
	<div class="ui container">
		<!-- BREADCRUMB  -->
    <div class="ui breadcrumb">
      <a href="/#/" class="section">Home</a>
      <i class="right angle icon divider"></i>
      <a href="/#/issue" class="active section">Issues</a>
    </div>
		<div class="ui divider"></div>
		<!-- SECTION HEADER  -->
		<div class="ui grid">
			<div class="left floated six wide column">
				<div class="ui left aligned basic segment">
					<h1>Featured Issues</h1>
				</div>
			</div>
			<div class="right floated six wide column">
				<div class="ui right aligned basic segment">
					<div class="ui search">
						<div class="ui icon input">
					    <input ng-model="issueSearch" class="prompt" type="text" placeholder="Filter for...">
					    <i class="search icon"></i>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<!--  CARDS -->
		<div class="four wide column stackable ui cards">
			<div class="card" ng-repeat="(key, issue) in issues">
				<a href="/#/issue/{{issue._project.org}}/{{issue._project.name}}/{{issue.number}}" class="content">
					<img class="right floated mini ui image" src="{{issue.user.avatar_url}}">
					<div class="header blue">
						 {{issue.title | limitTo: 40}}
					</div>
					<div class="meta">
						Project: {{issue._project.name}} | ORG: {{issue._project.org}}
					</div>
					<div class="description">
						#{{issue.number}} </br>
						{{issue.body | limitTo:144}}
					</div>
				</a>
				<div ng-click="tackleIssue(key,issue)" class="ui bottom teal attached button">
					<i class="add icon"></i>
					Tackle it!
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui {{dimmStatus}} inverted dimmer">
	<div class="ui loader"></div>
</div>
