<div class="ui container interna">
  <div class="ui container">
    <!-- BREADCRUMB  -->
    <div class="ui breadcrumb">
      <a href="/#/" class="section">Home</a>
      <i class="right angle icon divider"></i>
      <div class="section">Users</div>
      <i class="right angle icon divider"></i>
      <div class="active section">{{user.name}}</div>
    </div>
    <div class="ui divider"></div>
    <!-- SECTION HEADER  -->
		<div class="ui grid">
			<div class="left floated six wide column">
				<div class="ui left aligned basic segment">
					<h1>{{user.name}}</h1>
          <h3>From {{user.location}}</h3>
				</div>
			</div>
    </br></br></br>
  </div>
</div>
