<!-- USER ISSUES -->
<div class="ui vertical stripe segment">
	<div class="ui container">
		<div class="ui doubling stackable grid container">
		  <div class="six wide column">
		    <h1> My Issues ({{issues.length}}) </span> </h1>
		  </div>
			<div class="four wide column"></div>
		</div>
		<!--  CARDS -->
		<div class="four wide column stackable ui cards">
			<div id="{{key}}" class="card" ng-repeat="(key, issue) in issues">
				<a href="/#/issue/{{issue._project.org}}/{{issue._project.name}}/{{issue.number}}" class="content">
					<img class="right floated mini ui image" src="{{issue.user.avatar_url}}">
					<div class="header blue">
						 {{issue.title | limitTo: 40}}
					</div>
					<div class="meta">
						Project: {{issue._project.name}} | ORG: {{issue._project.org}}
					</div>
					<div class="description">
						#{{issue.number}} </br>
						{{issue.body | limitTo:144}}
					</div>
				</a>
				<div ng-click="tackleIssue(key,issue)" class="ui bottom red attached button">
					Untackle it
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui {{dimmStatus}} inverted dimmer">
	<div class="ui loader"></div>
</div>
