<div class="ui container interna">
  <div class="ui container">
    <!-- BREADCRUMB  -->
    <div class="ui breadcrumb">
      <a href="/#/" class="section">Home</a>
      <i class="right angle icon divider"></i>
      <div class="active section">My Perfil</div>
    </div>
    <div class="ui divider"></div>
    <!-- SECTION CONTENT  -->
		<div class="ui grid">
			<div class="left floated six wide column">
				<div class="ui left aligned basic segment">
          <img class="ui avatar small image" src="{{user.avatar_url}}">
          <h1>{{user.name}}</h1>
					<!-- <h1>{{connectedUser.name}}</h1> -->
				</div>
			</div>
    </br></br></br>
  </div>
</div>
