<!-- USER PROJECTS -->
<div class="ui vertical stripe segment">
<div class="ui container">
	<!-- SECTION HEADER  -->
	<div class="ui grid">
		<div class="left floated six wide column">
			<div class="ui left aligned basic segment">
				<h1>Published Projects ({{projects.length}})</h1>
			</div>
		</div>
		<div class="right floated six wide column">
			<div class="ui right aligned basic segment">
				<a class="ui teal button" href="/#/publish/project">
					Add New Projects
					<i class="right add icon"></i>
				</a>
			</div>
		</div>
	</div>
	<div class="four wide column ui special stackable cards">
		<a href="/#/issue/{{issue.id}}" class="card" class="card" ng-repeat="(key, project) in projects | filter:issueSearch">
			<div class="image">
			</div>
			<div class="blurring dimmable image">
				<div class="ui dimmer">
					<div class="content">
						<div class="center">
							<div class="ui inverted button">See issues</div>
						</div>
					</div>
				</div>
				<img src="/images/project/matthew.png">
			</div>
				<div class="content">
				<div class="header">
					{{project.name}} from {{project.org}}
				</div>
				<div class="meta">
					Shared by {{project._users[0].name}}
				</div>
				<div class="description">
					Elliot requested permission to view your contact details
				</div>
			</div>
			<div class="extra content">
			<span class="right floated">
				Joined in 2011
			</span>
			<span>
				<i class="user icon"></i>
				35 Friends
			</span>
		</div>
		</a>
	</div>
</div>
</div>
