<!-- USER PROJECTS -->
<div class="ui vertical stripe segment">
<div class="ui container">
	<div class="ui doubling stackable grid container">
		<div class="nine wide column">
			<h1> You have <strong>{{gitProjects.length}}</strong> projects avaiable on GitHub</h1>
		</div>
		<div class="four wide column"></div>

	</div>
	<div class="four wide column ui special stackable cards">
		<div class="card" ng-class="status" id="{{key}}" ng-repeat="(key, project) in gitProjects | filter:issueSearch">
			<div class="blurring dimmable image">
				<div class="ui dimmer">
					<div class="content">
						<div class="center">
							<div class="ui inverted button">See issues</div>
						</div>
					</div>
				</div>
				<img src="/images/project/matthew.png">
			</div>
				<div class="content">
				<div class="header">
					{{project.name}} from {{project.org}}
				</div>
				<div class="meta">
					Shared by {{project._users[0].name}}
				</div>
				<div class="description">
					Elliot requested permission to view your contact details
				</div>
			</div>
			<div class="extra content">
        <button class="ui teal fluid button" ng-click="addProject(key,project)">Add this project</button>
		  </div>
		</div>
	</div>
</div>
</div>
